@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400&family=Oswald:wght@700&display=swap');


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffff5;
    color: #233838;  
    margin: 0;
    padding: 0;
}
/* body *{
    outline: red solid 1px;
} */
/* NAVIGATION DESIGN */
nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border: #233838 solid 1.3px;
    padding: .6rem;
    border-right: none;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
}
nav li{
    list-style-type: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 3%;  
}
nav li a{
    color: #233838;
    text-decoration-style: dotted;
    text-underline-position: under;
    text-decoration-thickness: 1px;
}
nav li a:hover{
    color:#FA7F08;
    text-decoration: underline;
    text-underline-position: under;
}
.button-resume {
    background-color: #fffff5;
    border: #F24405 solid 1px;
    border-radius: 50rem;
    font-weight: 700;
    color: #F24405;
    padding: .5rem;

}
.button-resume:hover {
    text-decoration: underline;
    text-underline-position: under;
    border: #F24405 dotted 1px;
}
/* SECTION DESIGN */
section {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    padding: 0;
}
section h1{
    font-size: 4rem;
    color: #354d4d;
    font-weight: lighter;
    margin: 6% 0 0 0;
    font-family: 'Oswald', sans-serif;
}
h1 .persistence{
    font-size: 4.5rem;    
}
h1 .grit{
    font-style: italic;
    color: #FA7F08;
    margin: 0;
}
hr {
    background-color: #354d4d;
    margin: 6rem; 
    height: 1.2px;
    border-style: none;
}
blockquote p{
    color: rgb(106, 119, 131);
    display: flex;
    font-family: 'Inter', sans-serif;
}
.button-explore{
    border: none;
    background-color: #F24405;
    color: #fffff5;
    border: #fffff5 solid 1px;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 550;
    font-family: 'Inter', sans-serif;
    width: 11rem;
    margin-top: 3%;
    cursor: pointer;
}
.button-explore:hover{
    background-color:#fffff5;
    color: #F24405;
    border: #F24405 solid 1px;
}
/* CONTACT DESIGN */
input, select, textarea {
    display: flex;
    justify-content: center;    
    margin-top: 1rem;
    padding: 1rem;
    width: 25rem;
    margin-right: 20%;
}
.button-submit{
    border: none;
    margin: 2rem;
    background-color: #F24405;
    color: #fffff5;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    width: 8rem;
    cursor: pointer;
}
.button-submit:hover{
    background-color: #fffff5;
    color: #F24405;
    border: #F24405 solid 1px;
}
.profile{
    width: 20rem;
    display: flex;
}
.contact {
    margin-left: 35%;
}
.h1-contact{
    font-size: 3rem;
    color: #FA7F08;
    font-family: 'Oswald', sans-serif;
}
/* ABOUT PAGE */
.section-about {
    width: 50rem;
    margin-top: 6%;
    margin-left: 2%;
}
.about-picture {
    width: 15rem;
    border-radius: 50%;
    padding: 3rem;
    padding-top: 4rem;
}
.about-detail-p, .about-detail-h1 {
    text-align: left;
    background-color: #9EF8EE;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    padding: 1rem;
    color: #233838;
    font-weight: 500;
    margin: 0;
}
.about-detail-p{
    margin-top: 10px;
}
.about-detail-h1{
    font-size: 2rem;
    margin: 0;
}
.about-detail-today {
    text-align: center; 
    font-weight:400;
    color:#354d4d;
}
.about-detail-name,.about-detail-status{
    margin: 0;
    margin-left: 1rem;
    margin-bottom: .3rem;
    color: #354d4d;
}
.about-detail-status{
    color: #a0a0a0;
}
/* FOOTER DESIGN */
.footer-icons{
    background-color: #348888;
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 10px;
}
footer a{
    text-decoration: none;
    color: #233838;
}
footer p{
    text-align: center;
}
fieldset {
    width: 10rem;
    border-radius: 10px;
}
